/node_modules
*.js
*.d.ts
*.map
tsconfig.tsbuildinfo
!.eslintrc.js
/.nyc_output
/.history
/yarn-error.log
/.vscode/settings.json
/coverage
/build

/cmake-build-*
/.idea

# clangd cache
/.cache

# CMake error log
/cmake-error.log

*.plist

/Binary
/Build